NEXT_PUBLIC_SCHEDULE_SERVER="http://schedule-service:4000"
NEXT_PUBLIC_DEVICE_SERVER="http://schedule-service:4000"
NEXT_PUBLIC_TTS_SERVER="http://schedule-service:4000"
NEXT_PUBLIC_AUTH_SERVER="http://schedule-service:4000"
